@font-face {
    font-family: "Seagram tfb";
    src: url("../font/Seagram\ tfb.ttf");
}

@font-face {
    font-family: "Wolfhagen";
    src: url("../font/WolfhagenBlackletter-Regular.ttf");
}

@font-face {
    font-family: "OldLondon";
    src: url("../font/OldLondon.ttf");
}

*{
    padding: 0;
    margin: 0;
}

.PanelCreacionItem{
    font-size: 24px;
    
    /*display: flex;*/
    display: none;

    align-items: center;
    justify-content: center;
    border: 2px dotted rgb(96 139 168);
    flex-direction: column;
    width: calc(100% - 100px);
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #BE9163;
    position: absolute;
    top: 0px;
    left: 0px;
}


body{
    background-image: url("../img/TexturaDesgastada2.jpg");
    /*background-size: cover;*/
    background-size: 100%;
    color: #242223;
}

header{
    height: 250px;
    font-family: "Seagram tfb";
}

header img{
    width: 1200px;
    max-width: 100%;
    height: 200px;
    position: absolute;
    left: calc(50% - 600px);
    top: -0px;
    filter: drop-shadow(20px 30px 40px rgba(67, 51, 44, 1));
    transition: transform 0.2s ease-in-out;
}

header img:hover{
    transform: scale(1.1);
}

header div{
    top: 60px;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 48px;
    pointer-events: none;
}

#contenido-centrado{
    float: left;
    /*background-color: blanchedalmond;*/
    width: 100%;
}

#ColeccionItems{
    margin: auto;
    /*float: left;*/
    width: 100%;
    max-width: 1400px;
    background-color: palegoldenrod
}

.ContenedorItem{
    width: calc(33.3333% - 20px * 2);
    margin: 20px;
    margin-bottom: 60px;
    height: 600px;
    background-color: rgba(5, 5, 5, 0.3);
    border-radius: 30px;
    box-shadow: 30px 30px 40px #685242;
    overflow: hidden;
    position: relative;
    float: left;
}

.Imagen{
    background-image: url("../img/ImagenStock.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    box-shadow: inset 30px 10px 40px rgba(67, 51, 44, 0.5);
    background-position: top;
    background-repeat: no-repeat;
    transition: all 0.2s ease-out;
    transform: translateY(50px);
}

.Imagen:hover{
    /*background-size: 120%;*/
    transform: translateY(20px);
}

.Titulo{
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: "Seagram tfb";
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #BE9163;
    width: 100%;
    transition: all 0.2s ease-out;
}

.Icono_Borrar{
    top: 60px;
    right: 10px;
    position: absolute;
    width: 50px;
    opacity: 0.6;
    transition: all 0.1s ease-out;
}
.Icono_Borrar:hover{
    opacity: 0.9;
    cursor: pointer;
    transform: scale(1.4);
}

.Icono_Editar{
    top: 120px;
    right: 10px;
    position: absolute;
    width: 50px;
    opacity: 0.6;
}
.Icono_Editar:hover{
    opacity: 0.9;
    cursor: pointer;
    transition: all 0.1s ease-out;
    transform: scale(1.4);
}

.Descripcion{
    width: calc(100% - 60px);
    position: absolute;
    /*bottom: -10px;*/
    bottom: 0px;
    left: 0px;
    background-color: rgba(3, 2, 4, 0.3);
    padding: 30px;
    color: white;
    opacity: 0.1;
    font-size: 20px;
    transition: bottom 0.2s ease-out;
}


.Descripcion:hover{
    /*bottom: 0px;*/
    opacity: 1;
}


footer{
    width: 100%;
    height: 200px;
    /*background-color: cornflowerblue;*/
    float: left;
}


.PanelCreacionItem div{
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.CrearItem_titulo{
    width: calc(100%);
}

.CrearItem_instruccionImagen{
    width: 100%;
}

.PanelCreacionItem input{
    font-size: 18px;
    width: calc(100% - 40px);
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    border: none;
}

.PanelCreacionItem img{
    width: 100%;
    height: 100px;
}

.Campo_Descripcion{
    height: 200px;
}


textarea{
    font-size: 18px;
    width: calc(100% - 40px);
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: dimgrey;
    border-radius: 5px;
    border: none;
    resize: vertical;
}

button{
    margin-top: 10px;
    /*margin: 20px;*/
    padding: 20px;
    width: 100%;
    border: none;
    border-radius: 20px;
}
button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.boton_cancelar{
    background-color: #EAB9B9;
}

.PantallaAgregarItem{
    width: 100%;
    height: 100%;
    /*background-color: #43332C;*/
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(33.3333% - 20px * 2);
    margin: 20px;
    margin-bottom: 60px;
    height: 600px;
    background-color: rgba(5, 5, 5, 0.3);
    border-radius: 30px;
    box-shadow: 30px 30px 40px #685242;
    overflow: hidden;
    position: relative;
    float: left;
}
.PantallaAgregarItem:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-out;
}
.icono_agregar{
    width: 100px;
    height: 100px;
}